@import url('https://fonts.googleapis.com/css?family=Lora:400,400i');

.huge{
  height: 675px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  width: 506px;
  border-color: black;
  border-style: solid;
  border-width: 1px;
}

.big{
  height: 420px;
  width: 466px;
  margin-right: auto;
  margin-left: auto;
}

.picture{
  width: 466px;
  height: 420px;
}

.bag {
  height: 165px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;
  margin-bottom: 12px;
  width: 466px;
}

.bag1 {
  float: left;
  height: 165px;
  margin-right: 5px;
  width: 265px;
}

.dave0 {
  border-color: black;
  border-style: solid;
  border-width: 1px;
  height: 98px;
}

.dave1 {
  border-color: black;
  border-right-style: solid;
  border-left-style: solid;
  border-width: 1px;
  height: 98px;
  width: 240px;
  margin-left: 10px;
  position: absolute;
}

.txt1 {
  font-family: 'Lora', serif;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0.2em;
  line-height: 34px;
  padding-top: 15px;
}

.txt1 p {
  margin: 0;
}

.heart {
  border-color: black;
  border-style: solid;
  border-width: 1px;
  height: 55px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.txt2 {
  font-family: 'Lora', serif;
  font-size: 10px;
  text-align: center;
  letter-spacing: 0.1em;
  padding-top: 4px;
}

.txt2 p {
  margin: 0;
}

.bag2 {
  border-color: black;
  border-style: solid;
  border-width: 1px;
  float: right;
  height: 165px;
  margin-left: 5px;
  width: 188px;
}

.how {
  border-color: black;
  border-style: solid;
  border-width: 1px;
  height: 115px;
  width: 131px;
  position: relative;
  margin: 25px auto 20px auto;
}

.txt3 {
  font-family: 'Lora', serif;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0.1em;
  line-height: 22px;
}

.beg {
  height: 50px;
  margin-right: auto;
  margin-left: auto;
  width: 466px;
}

.beg1 {
  border-color: black;
  border-style: solid;
  border-width: 1px;
  float: left;
  width: 75px;
  height: 50px;
}

.circle {
  width: 74px;
  height: 49px;
  border-color: black;
  border-style: solid;
  border-width: 1px;
  border-radius: 50%;
}

.txt4 {
  font-family: 'Lora', serif;
  font-size: 6px;
  text-align: center;
  letter-spacing: 0.1em;
  line-height: 34px;
}

.beg2 {
  border-color: black;
  border-style: solid;
  border-width: 1px;
  float: right;
  width: 373px;
  height: 50px;
}

.txt5 {
  font-family: 'Lora', serif;
  font-size: 8px;
  text-align: center;
  letter-spacing: 0.05em;
  line-height: 11px;
}
