.big{
  background-color: #2b4eff;
  height: 800px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
  width: 600px;
}

.muycursi{
  background-color: #e261e0;
  height: 500px;
  width: 100%;
}

.mascursi{
  background-color: #f7928f;
  height: 240px;
  margin-top: 20px;
  width: 100%;
}